.project-card {
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 1.5rem;
  margin: 0 1rem;
}
.project-card h6 {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}
.project-card ul li {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 480;
  margin-bottom: 0.5rem;
  position: relative;
}
.project-card-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}
.project-card-img img {
  width: 80%;
  height: 15rem;
  border: 1px solid #6751b9;
  padding-bottom: 1rem;
  transform: translateX(3.5rem);
}
.project-card ul li::after {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background: #6751b9;
  border-radius: 0.5rem;
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
}
@media (max-width: 768px) {
  .project-card {
    margin: 0;
  }
  .project-card h6 {
    font-size: 0.95rem;
  }
  .project-card ul li {
    font-size: 0.75rem;
  }
}
@media (max-width: 425px) {
  .project-card-img img {
    width: 100%;
    height: 12rem;
    transform: translateX(0);
  }
}
